
@{
    ViewBag.Title = "忘记密码";
}

<div class="c-regsiter">
    <div class="c-register-bg-top"></div>
    <div class="c-register-bg-bottom"></div>
    <div class="c-register-logo">
        <img src="~/Images/logo2.png" />
    </div>
    <div class="c-forgetpassword-form c-flip-wrapper">
        <form class="c-flip" id="phone-form">
            <div class="c-forgetpassword-nav">
                通过邮箱找回
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </div>
            <div class="c-forgetpassword-step">
                <div class="c-forgetpassword-step-num c-forgetpassword-step-active">
                    <span>1</span><br /><span>验证手机号</span>
                </div>
                <div class="c-forgetpassword-step-line" style="width:50px;"></div>
                <div class="c-forgetpassword-step-num">
                    <span>2</span><br /><span>重置密码</span>
                </div>
            </div>
            <div class="c-register-inputgroup">
                <input type="tel" id="phone" name="phone" placeholder="请输入注册时使用的手机号" />
            </div>
            <div class="c-register-inputgroup c-register-validatecode">
                <input type="text" id="validatecode" name="validatecode" placeholder="请输入验证码" />
                <img src="/Login/GetValidateCode" onclick="changeValidateCode(this)" />
            </div>
            <div class="c-register-inputgroup c-register-validatecode">
                <input type="text" id="phonevalidatecode" name="phonevalidatecode" placeholder="请输入短信验证码" />
                <div class="c-register-btn c-register-btn-unsend" onclick="sendPhoneValidateCode()">获取验证码</div>
            </div>
            <div class="c-register-inputgroup">
                <button class="c-register-btn" type="submit">找回密码</button>
            </div>
        </form>
        <form class="c-flip c-flip-out" id="email-form" >
            <div class="c-forgetpassword-nav">
                通过手机号找回
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </div>
            <div class="c-forgetpassword-step">
                <div class="c-forgetpassword-step-num c-forgetpassword-step-active">
                    <span>1</span><br /><span>输入邮箱地址</span>
                </div>
                <div class="c-forgetpassword-step-line" style="width:15px;"></div>
                <div class="c-forgetpassword-step-num">
                    <span>2</span><br /><span>验证邮箱</span>
                </div>
                <div class="c-forgetpassword-step-line" style="width:15px;"></div>
                <div class="c-forgetpassword-step-num">
                    <span>3</span><br /><span>重置密码</span>
                </div>
            </div>
            <div class="c-register-inputgroup">
                <input type="text" id="email" name="email" placeholder="请输入注册时使用的邮箱地址" />
            </div>
            <div class="c-register-inputgroup">
                <button class="c-register-btn" type="submit">找回密码</button>
            </div>
        </form>
        <form id="phone-reset-form" hidden>
            <div class="c-forgetpassword-step">
                <div class="c-forgetpassword-step-num c-forgetpassword-step-active">
                    <span>1</span><br /><span>验证手机号</span>
                </div>
                <div class="c-forgetpassword-step-line" style="width:50px;"></div>
                <div class="c-forgetpassword-step-num c-forgetpassword-step-active">
                    <span>2</span><br /><span>重置密码</span>
                </div>
            </div>
            <div class="c-register-inputgroup">
                <input type="password" id="phonepassword" name="phonepassword" placeholder="请输入新密码" />
            </div>
            <div class="c-register-inputgroup">
                <input type="password" id="phonepasswordcomfirm" name="phonepasswordcomfirm" placeholder="请再次输入密码" />
            </div>
            <div id="reset-failed" style="color:red;display:none;">
                <span class="glyphicon glyphicon-exclamation-sign"></span>新密码与原密码相同
            </div>
            <div class="c-register-inputgroup">
                <button class="c-register-btn" type="submit">确&nbsp;&nbsp;定</button>
            </div>
        </form>
        <form id="email-temp-form" hidden>
            <div class="c-forgetpassword-step">
                <div class="c-forgetpassword-step-num c-forgetpassword-step-active">
                    <span>1</span><br /><span>输入邮箱地址</span>
                </div>
                <div class="c-forgetpassword-step-line" style="width:15px;"></div>
                <div class="c-forgetpassword-step-num c-forgetpassword-step-active">
                    <span>2</span><br /><span>验证邮箱</span>
                </div>
                <div class="c-forgetpassword-step-line" style="width:15px;"></div>
                <div class="c-forgetpassword-step-num">
                    <span>3</span><br /><span>重置密码</span>
                </div>
            </div>
            <div class="c-register-inputgroup">
                <p>密码重置邮件已发送至你的邮箱：</p>
                <p>密码重置邮件已发送至你的邮箱：</p>
                <p>密码重置邮件已发送至你的邮箱：</p>
            </div>
            <div class="c-register-inputgroup">
                <button class="c-register-btn">登录邮箱查看</button>
            </div>
        </form>
    </div>
</div>
<script>
    function changeValidateCode(e) {
        $(e).attr('src', window.location.protocol + '//' + window.location.host + '/Login/GetValidateCode?random=' + Math.random());
    };
    var phonestate = true;
    function sendPhoneValidateCode() {
        if ($('#phone-form').validate().element($('#phone')) == false || $('#phone-form').validate().element($('#validatecode')) == false) {
            return;
        }
        if (phonestate == false) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Login/GetPhoneValidateCode',
            dataType: 'json',
            data: {
                phone: $('#phone').val(),
            },
            success: function (d) {
                phonestate = false;
                if (d == true) {
                    var countdown = 10;
                    var timer = setInterval(function () {
                        countdown--;
                        $('.c-register-btn-unsend').text(countdown + 's后重试')
                        $('.c-register-btn-unsend').addClass('c-register-btn-sent');
                    }, 1000);
                    setTimeout(function () {
                        clearInterval(timer);
                        $('.c-register-btn-unsend').text('获取验证码');
                        $('.c-register-btn-unsend').removeClass('c-register-btn-sent');
                        phonestate = true;
                    }, 11000);
                } else {
                    console.log('服务器错误');
                }
            },
        });
    };
    $().ready(function () {
        var validator = $('#phone-form').validate({
            submitHandler: function (form) {
                $(form).submit(function () { return false; });
                $('#phone-form').hide();
                $('#phone-reset-form').show();
            },
            rules: {
                phone: {
                    required: true,
                    maxlength: 11,
                    minlength: 11,
                    remote: {
                        url: "/Login/CheckForgetPasswordPhone",
                        type: 'post',
                        dataType: 'json',
                        data: {
                            phone: function () { return $('#phone').val(); }
                        }
                    }
                },
                validatecode: {
                    required: true,
                    maxlength: 4,
                    minlength: 4,
                    remote: {
                        url: "/Login/CheckValidateCode",
                        type: 'post',
                        dataType: 'json',
                        data: {
                            validateCode: function () { return $('#validatecode').val(); }
                        }
                    }
                },
                phonevalidatecode: {
                    required: true,
                    maxlength: 4,
                    minlength: 4,
                    remote: {
                        url: "/Login/CheckPhoneValidateCode",
                        type: 'post',
                        dataType: 'json',
                        data: {
                            phone: function () { return $('#phone').val(); },
                            phoneValidateCode: function () { return $('#phonevalidatecode').val(); }
                        }
                    }
                },
            },
            errorPlacement: function (error, element) {
                $(element).parent().append(error);
            },
            errorElement: 'div',
            errorClass: 'register-error',
            messages: {
                phone: {
                    required: '<span class="glyphicon glyphicon-exclamation-sign"></span>请输入注册时使用的手机号',
                    maxlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写11位手机号',
                    minlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写11位手机号',
                    remote: '<span class="glyphicon glyphicon-exclamation-sign"></span>该账号不存在',
                },
                validatecode: {
                    required: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写验证码',
                    maxlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写4个字符的验证码',
                    minlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写4个字符的验证码',
                    remote: '<span class="glyphicon glyphicon-exclamation-sign"></span>验证码错误',
                },
                phonevalidatecode: {
                    required: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写验证码',
                    maxlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写4个字符的验证码',
                    minlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写4个字符的验证码',
                    remote: '<span class="glyphicon glyphicon-exclamation-sign"></span>验证码错误',
                },
            },
        });
    });
    $().ready(function () {
        var validator = $('#email-form').validate({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: "post",
                    dataType: "json",
                    url: "/Login/ResetPasswordByEmail",
                    data: {
                        email: $('#email').val(),
                    },
                    success: function (data) {
                        if (data == true) {
                            $('#email-form').hide();
                            $('#email-temp-form').show();
                        } else if (data == false) {
                            console.log('服务器错误');
                        }
                        else {
                            //$('#reset-failed').show();
                        }
                    }
                });
            },
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/Login/CheckForgetPasswordEmail",
                        type: 'post',
                        dataType: 'json',
                        data: {
                            email: function () { return $('#email').val(); }
                        }
                    }
                },
            },
            errorPlacement: function (error, element) {
                $(element).parent().append(error);
            },
            errorElement: 'div',
            errorClass: 'register-error',
            messages: {
                email: {
                    required: '<span class="glyphicon glyphicon-exclamation-sign"></span>请输入注册时使用的邮箱地址',
                    email: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写正确的邮箱格式',
                    remote: '<span class="glyphicon glyphicon-exclamation-sign"></span>该账号不存在',
                },
            },
        });
    });
    $().ready(function () {
        var validator = $('#phone-reset-form').validate({
            submitHandler: function (form) {
                $('#reset-failed').hide();
                $(form).ajaxSubmit({
                    type: "post",
                    dataType: "json",
                    url: "/Login/ResetPasswordByPhone",
                    data: {
                        phone: $('#phone').val(),
                        password: $('#phonepassword').val(),
                    },
                    success: function (data) {
                        if (data == true) {
                            alert('修改成功!');
                            window.location.href = '/Home/Index';
                        } else if (data == false) {
                            console.log('服务器错误');
                        }
                        else {
                            $('#reset-failed').show();
                        }
                    }
                });
            },
            rules: {
                phonepassword: {
                    required: true,
                    minlength: 6,
                },
                phonepasswordcomfirm: {
                    required: true,
                    equalTo: '#phonepassword',
                }
            },
            errorPlacement: function (error, element) {
                $(element).parent().append(error);
            },
            errorElement: 'div',
            errorClass: 'register-error',
            messages: {
                phonepassword: {
                    required: '<span class="glyphicon glyphicon-exclamation-sign"></span>请填写登录密码',
                    minlength: '<span class="glyphicon glyphicon-exclamation-sign"></span>登录密码不能少于6个字符',
                },
                phonepasswordcomfirm: {
                    required: '<span class="glyphicon glyphicon-exclamation-sign"></span>请确认登录密码',
                    equalTo: '<span class="glyphicon glyphicon-exclamation-sign"></span>两次密码不一致',
                }
            },
        });
    });
</script>
<script>
    var eleBack = null;
    var eleFront = null;
    var eleList = $(".c-flip");
    var funBackOrFront = function () {
        eleList.each(function () {
            if ($(this).hasClass("c-flip-out")) {
                eleBack = $(this);
                $('.c-flip-wrapper').css('height', '440px');
            } else {
                eleFront = $(this);
                $('.c-flip-wrapper').css('height', '280px');
            }
        });
    };
    funBackOrFront();
    $(".c-forgetpassword-nav").bind("click", function () {
        eleFront.addClass("c-flip-out").removeClass("c-flip-in");
        setTimeout(function () {
            eleBack.addClass("c-flip-in").removeClass("c-flip-out");
            funBackOrFront();
        }, 225);
        return false;
    });
</script>

