<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProjectC - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Extentions/css/projectc.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Extentions/javascript/messages_zh.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Extentions/javascript/projectc.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
